body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
  color: #333;
  
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: #0077cc;
}

a:hover {
  color: #004999;
}

button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: #0077cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #004999;
}
